<h1>Categoria : {{ categoria }}</h1>

<main class="container">
    <div *ngIf="productosFiltrados">
        <section class="row" *ngFor="let producto of productosFiltrados">
                <div class="col card">
                    <img [src]="producto.imagen" class="card-img-top" style="width: 10%;">
                    <div class="card-body">
                        <h5 class="card-title"> {{ producto.nombre }} </h5>
                        <p class="card-text"> {{ producto.descripcion }}</p>
                        <p class="card-text"><strong>Precio:</strong> {{ producto.precio | currency:'USD':'symbol':'1.0-0' }} </p>
                        <p class="card-text"><strong>Descuento:</strong> {{ producto.descuento ? 'Sí' : 'No' }} </p>
                </div>
                </div>
        </section>
    </div>
</main>
